<section id="banner">
  <div class="content">
    <header>
      <h2>Lake Travis Robotics</h2>
      <p>{{ site.description }}<br>
      Based in Austin, Texas</p>
    </header>
    <span class="image"><img src="images/logo_black.png" alt="" /></span>
  </div>
  <a href="#story" class="goto-next scrolly">Next</a>
</section>
<section id="story" class="spotlight style2 right">
  <span class="image fit main"><img src="{{ site.url }}/images/lths.jpg" alt="Lake Travis HS" /></span>
  <div class="content">
    <header>
      <h2>{{ page.storyTitle }}</h2>
      <p>{{ page.storyTag }}</p>
    </header>
    <p>{{ content }}</p>
  </div>
  <a href="#sponsors" class="goto-next scrolly">Next</a>
</section>
