<header id="header">
  <h1 id="logo"><a href="{{ site.url }}">LT Robotics</a></h1>
  <nav id="nav">
    <ul>
      <li>
        <a href="#">Teams</a>
        <ul>
          <li><a href="{{ site.url }}/teams/78738A/">Parallax</a></li>
          <li><a href="{{ site.url }}/teams/78738B/">Omnitron</a></li>
          <li><a href="{{ site.url }}/teams/78738C/">Blitz</a></li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
        <ul>
          <li><a href="{{ site.url }}/about/leadership/">Leadership</a></li>
          <li><a href="{{ site.url }}/about/sponsors/">Sponsors</a></li>
          <li><a href="{{ site.url }}/about/vex/">VEX Overview</a></li>
          <li><a href="{{ site.url }}/about/docs/">Documents</a></li>
        </ul>
      </li>
      <li><a href="{{ site.url }}/calendar/">Calendar</a></li>
      <li><a href="{{ site.url }}/blog/">Blog</a></li>
      <li><a href="{{ site.url }}/contact/" class="button primary">Contact Us</a></li>
    </ul>
  </nav>
</header>
